.contact {
  margin-top: 2rem;

  @include mq('md') {
    margin-top: 3rem;
  }

  @include mq('lg') {
    margin-top: 4rem;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include mq('lg') {
      flex-direction: row;
    }
  }

  &__information,
  &__contacts {
    width: 100%;
    margin: 1rem;

    @include mq('md') {
      margin: 1.5rem;
    }

    @include mq('lg') {
      width: 50%;
      margin: 1rem 1.5rem;
    }
  }

  &__title {
    font-size: 1.6rem;

    @include mq('sm') {
      font-size: 1.7rem;
    }

    @include mq('md') {
      font-size: 1.8rem;
    }

    @include mq('lg') {
      font-size: 1.9rem;
    }

    @include mq('xl') {
      font-size: 2rem;
    }
  }

  &__paragraph {
    margin-top: 1rem;
    font-size: 1.3rem;
    text-align: left;

    @include mq('sm') {
      margin-top: 1.1rem;
    }

    @include mq('md') {
      margin-top: 1.25rem;
      font-size: 1.4rem;
    }

    @include mq('lg') {
      margin-top: 1.4rem;
      font-size: 1.5rem;
    }

    @include mq('xl') {
      margin-top: 1.5rem;
    }
  }

  &__link {
    color: $colour-secondary-extra-light;
    transition: all 0.2s;

    &:hover {
      color: $colour-secondary;
    }
  }

  &__info-list {
    text-align: left;

    &-item {
      font-size: 1.3rem;

      @include mq('md') {
        font-size: 1.4rem;
      }
    }

    &-link {
      padding: 1rem 0;
      color: $colour-gray;
      display: flex;
      align-items: center;
      transition: 0.1s all;

      @include mq('lg') {
        padding: 1rem;
      }

      &:hover {
        color: $colour-gray-dark;

        & .contact__info-list-icon {
          transform: scale(1.1);
        }
      }
    }

    &-icon {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      transition: 0.1s all;
    }
  }

}