.projects {
  &__tile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem auto 0;
    border: 1px solid $colour-gray-extra-light;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: 0.3s all;

    @include mq('sm') {
      margin: 2.5rem auto 0;
      padding: 1.25rem;
    }

    @include mq('md') {
      margin: 3rem auto 0;
      padding: 1.5rem;
    }

    @include mq('lg') {
      flex-direction: row;
      width: 90%;
      margin: 3.5rem auto 0;
      border-radius: 1rem;
      padding: 1.75rem;
    }

    @include mq('xl') {
      width: 80%;
      margin: 4rem auto 0;
      border-radius: 1rem;
      padding: 2rem;
    }

    &:hover {
      box-shadow: $box-shadow;
      transform: translateY(-2px);
    }

    &-heading {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      @include mq('lg') {
        flex-direction: row;
      }
    }

    &-title {
      font-size: 1.6rem;

      @include mq('sm') {
        font-size: 1.7rem;
      }

      @include mq('md') {
        font-size: 1.8rem;
      }

      @include mq('lg') {
        font-size: 1.9rem;
      }

      @include mq('xl') {
        font-size: 2rem;
      }
    }

    &-links {
      margin-top: 1rem;
      display: flex;

      @include mq('sm') {
        margin-top: 1.25rem;
      }

      @include mq('md') {
        margin-top: 1.5rem;
      }

      @include mq('lg') {
        margin-top: 0;
      }
    }

    &-icon-link {
      color: $colour-gray;
      transition: 0.1s all;

      &:nth-child(1) {
        margin-right: 1rem;
      }

      &:hover {
        color: $colour-gray-dark;

        & .projects__tile-icon {
          transform: scale(1.1);
        }
      }
    }

    &-icon {
      transition: 0.1s all;
      height: 3rem;
      width: 3rem;
    }

    &-paragraph {
      margin-top: 1rem;
      font-size: 1.2rem;
      text-align: left;

      &--highlight {
        font-weight: bold;
      }
    }
  }

  &__image-link {
    margin: 0 auto;

    &.visible {
      display: block;
    }

    &.hidden {
      display: none;
    }

    @include mq('lg') {
      margin-right: 2rem;
    }
  }

  &__image-container {
    width: 100%;
    overflow: hidden;

    @include mq('sm') {
      width: 75%;
      margin: 0 auto;
    }

    @include mq('md') {
      width: 50%;
      margin: 0 auto;
    }

    @include mq('lg') {
      width: 25rem;
      height: 18.75rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    backface-visibility: hidden;
  }
}